body{
    margin: 0;
    background-color: #111;
}
.head{
    background-color: #111;
    display: flex;
    justify-content: space-between;
}
#J{
    margin-top: 4px;
    /*margin-left: 11vw;*/
    width: 30px;
    height: fit-content;
}
#J-link{
    margin-left: 0px;
}
.head-list{
    margin-top: px;
}
.content{
    display: flex;
    width: 100vw;
    flex-direction: row;
    width: auto;
    margin: auto;
    background-color: #111;
}
#bar{
    background-color: #1E1E21;
    color: white;
    margin-left: 9vw;
    width:  73vw;
    height: 50px;
    border-radius: 50px;
    text-indent: 20px;
    border: 0vw;
    size: 10px;
    font-size: medium;
}
::placeholder{
    color: rgb(255, 255, 255);
}
button{
    background: transparent;
    border: none !important;
    font-size:0;
}
#align-center{
    padding-left: 3vw;
}
#searchIcon{
    margin-left: -56px;
}
#searchbar{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}
.navbar {
    overflow: hidden;
    background-color: #111 ;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 9vw;
    padding-right: 10vw;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 4px;
}
.dropbtn svg {
    pointer-events:none;
}
#user{
    margin-right: 1vw;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #111;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
h1, h2, h3, h4, h5, h6, p{
    color: white;
    font-family: Helvetica;
    font-weight: 500;
}
#SpotsNearYou{
    margin-left: 10vw;
    margin-top: 50px;
}
.partyDIV{
    width: 17vw;
    height: 265px;
    overflow: hidden;
    border-radius: 20px;
    display: block;
}
.PartyPlacePic{ 
    width: 450px;
    height: 350px;
    margin: -75px 0 0 -100px;
}
.main-content {
    display: flex;
    padding: 0 10vw;
    justify-content: space-between;
    margin-top: 40px;
}
.PIC-h2{

}
.PIC-content{
    margin: 0 0;

}